version: "2"
networks:
  wapps:
    external:
      name: "wapps"
services:
  sonarr:
    environment:
      - "PUID=${PUID}"
      - "PGID=${PGID}"
      - "TZ=${TZ}"
      - "UMASK_SET=${UMASK_SET}"
    image: "linuxserver/sonarr"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.http.routers.sonarr-http.entrypoints=http"
      - "traefik.http.routers.sonarr-http.middlewares=wapps"
      - "traefik.http.routers.sonarr-http.rule=Host(`${HOST}`)"
      - "traefik.http.routers.sonarr-https.entrypoints=https"
      - "traefik.http.routers.sonarr-https.rule=Host(`${HOST}`)"
      - "traefik.http.routers.sonarr-https.tls.certResolver=wapps"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"
    networks:
    - "wapps"
    restart: "always"
    volumes:
    - "config:/config"
    - "/etc/localtime:/etc/localtime:ro"
    - "${SERIES_ROOT}:/tv"
    - "${DOWNLOADS_ROOT}:${DOWNLOADS_ROOT}"
volumes:
  config:
    driver: "local"
