version: "2"
networks:
  wapps:
    external:
      name: "wapps"
services:
  postgres-af9dc3cd6ce29d560a1e4077694254d9:
    environment:
      - "POSTGRES_DB=${POSTGRES_DB}"
      - "POSTGRES_USER=${POSTGRES_USER}"
      - "POSTGRES_PASSWORD=${POSTGRES_PASSWORD}"
    image: "postgres"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - "wapps"
    restart: "always"
    volumes:
      - "data:/var/lib/postgresql/data"
  wikijs:
    environment:
      - "DB_TYPE=postgres"
      - "DB_HOST=postgres-af9dc3cd6ce29d560a1e4077694254d9"
      - "DB_PORT=5432"
      - "DB_USER=${POSTGRES_USER}"
      - "DB_PASS=${POSTGRES_PASSWORD}"
      - "DB_NAME=${POSTGRES_DB}"
    image: "requarks/wiki"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.http.routers.bookstack-http.entrypoints=http"
      - "traefik.http.routers.bookstack-http.middlewares=wapps"
      - "traefik.http.routers.bookstack-http.rule=Host(`${HOST}`)"
      - "traefik.http.routers.bookstack-https.entrypoints=https"
      - "traefik.http.routers.bookstack-https.rule=Host(`${HOST}`)"
      - "traefik.http.routers.bookstack-https.tls.certResolver=wapps"
      - "traefik.http.services.bookstack.loadbalancer.server.port=3000"
    networks:
      - "wapps"
    restart: "always"
    volumes:
      - ""
volumes:
  data:
    driver: local
